$govuk-assets-path: "/identify-your-incorporated-business/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/identify-your-incorporated-business/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "timeout-dialog";
@import "iei.scss";

.app-reference-number {
  display: block;
  font-weight: bold;
}